*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    background-color: rgba(234, 125, 125, 0.226) !important;
    box-shadow: inset rgba(255, 0, 0, 0.278) 3px 8px 8px 1px;
}
.header{
    background: radial-gradient( rgba(67, 64, 67, 0.409), rgba(208, 1, 1, 0.276), white, rgba(11, 78, 154, 0.593), rgba(123, 10, 151, 0.671));
    height: 100vh;
    width: 80vw;
    display: inline-block;
    border-radius: 1rem;
}

.header p{
    position: absolute;
    align-items: start;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 1rem;
    border: 2px solid white;
    font-size: 4rem;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.247);
    top: 5%;
    left: 5%;
}


.main{
    position: flex;
    background: linear-gradient(to bottom, rgba(102, 5, 5, 0.756), rgba(167, 117, 77, 0.745));
    display: inline-block;
    width: 20vw;
    height: 100vh;
    margin-left: 100%;
    top: 0;
    z-index: 4;
    border-radius: 1rem;
}

.tagcloud {
    display: block;
    top: -85vh;
    left: 32%;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  /* Change color of each text in sphere on hover   */
  .tagcloud--item:hover {
    color: #ffffff ;
    border: solid black 0.5px;
    border-radius: 1vh;
    background-color: rgba(134, 3, 3, 0.537);
  }


.splide-track{
    width: 100vw;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
#main-carousel img{
    height: 90vh;
    width: 100vw;
}
  .splide__slide {
    opacity: 0.6;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
  
  .tests p{
    font-size: 90px;
    position: relative;
    width: 5rem;
    padding: 0;
    top: 50%;
    left: 2%;
  }
  .tests #Awards, #FLASHBACKS, #JAVASCRIPT, #CSS, #HTML, #PYTHON { 
    height: 100vh;
    width: 100vw;
  }

  .tests #Awards {
    display: flex;
    background-image: url("./images/Awards.jpg");
    background-size: cover;
    
}
.tests #Awards p{
    font-size: 2rem;
    position: relative;
    top: 5%;
    left: 48.5%;
    text-shadow: rgba(255, 196, 4, 0.782) 1px 0.2px 0px ;
}

.tests #Awards img{
    color: rgb(255, 255, 255);
    font-size: 10px;
    width: 8rem;
    height: 10rem;
    position: relative;
    top: 55%;
    left: -25%;
    z-index: 99;
}
.tests #Awards .image p{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 0.5rem;
    font-size: 25px ;
    width: 80px;
    left: -.5em;
    line-height: 20px;
}

.tests #Awards img:hover{
    background-color: rgba(249, 186, 0, 0.595);
    border-radius: 1rem;
    border: 2px solid rgba(255, 242, 0, 0.689);
    box-shadow: rgba(255, 255, 0, 0.406) 0px 3px 3px;
    box-shadow: rgba(160, 160, 19, 0.406) 0px 0px 3px 3px;


}

.tests #FLASHBACKS {
    background-color: none;
}

.tests #JAVASCRIPT {
    background-color: rgb(0, 17, 128);
}




















.tests div #SWIFT {
    min-height: 150dvh;
    min-width: 100dwh;
    max-height: 200dvh;
    max-width: 200dwh;
}

@font-face {
    font-family: "Creepy";
    src: url("Assets/Fonts/Creepy.woff") format("woff"),
         url("Assets/Fonts/Creepy.woff2") format("woff2");
}

@font-face {
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format("woff"),
         url("Assets/Fonts/Lunacy.woff2") format("woff2");
}

.tests #SWIFT .thebody {
  box-sizing: border-box;
  min-height: 150vh;
  cursor: url(Assets/Cursors/Ghost.cur), auto;
  font-family: Lunacy;
  background: radial-gradient(#9D5900, #3D2200);
  margin: 0;
  padding-bottom: 2%;
}

.tests #SWIFT .page-title {
  color: #FF6D00;
  font-family: Creepy, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.tests #SWIFT .game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.tests #SWIFT .game-info {
  color: #FFBB89;
  font-size: 4em;
}

.tests #SWIFT .game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.tests #SWIFT .card {
  position: relative;
  cursor: url("Assets/Cursors/GhostHover.cur"), auto;
  height: 175px;
  width: 125px;
}

.tests #SWIFT .card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.tests #SWIFT .card.visible .card-back {
  transform: rotateY(-180deg); 
}

.tests #SWIFT .card.visible .card-front {
  transform: rotateY(0); 
}

.tests #SWIFT .card.matched .card-front .card-value {
  animation: dance 1s linear infinite 500ms;
}

.tests #SWIFT .card-back {
  background-color: black;
  border-color: #FF6D00;
  transform: rotateY(0); 
}

.tests #SWIFT .cob-web {
  position: absolute;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  width: 47px;
  height: 47px;
}

.tests #SWIFT .card-face:hover .cob-web {
  width: 52px;
  height: 52px;
}

.tests #SWIFT .cob-web-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.tests #SWIFT .cob-web-top-right {
  top: 0;
  right: 0;
}

.tests #SWIFT .cob-web-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.tests #SWIFT .cob-web-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.tests #SWIFT .spider {
  align-self: flex-start;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
}

.tests #SWIFT .card-back:hover .spider {
  transform: translateY(0);
}

.tests #SWIFT .card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.tests #SWIFT .card-front:hover .card-value {
  transform: scale(1);
}

.tests #SWIFT .card-front {
  background-color: #FFBB89;
  border-color: #333;
  transform: rotateY(180deg);
}

.tests #SWIFT .overlay-text {
  padding-top: 1.5rem;
  z-index: 100;
  width: 80dvw;
  left: 10%;
  size: cover;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FF6D00;
  border-radius: 1rem;
  font-family: Creepy, serif;
  transition: background-color 500ms, font-size 500ms;
}

.tests #SWIFT .overlay-text-small {
    font-size: .3em;
}

.tests #SWIFT .overlay-text.visible {
    display: flex;
    background-color: rgba(255, 255, 255, 0.286) !important;
    animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 5em;
  }
}

@media (max-width: 600px) {
    .tests #SWIFT .game-container {
    grid-template-columns: repeat(4, auto)
  }

  .tests #SWIFT .overlay-text-small {
    font-size: 20px !important;
}

  .tests #SWIFT .card{
    height: 82.5px;
    width: 62.5px;
  }

  .tests #SWIFT .card-face .cob-web {
    height: 23.5px;
    width: 23.5px;
  }

  .tests #SWIFT .card-face:hover .cob-web {
    width: 27.5px;
    height: 27.5px;
  }

  .tests #SWIFT .card-front .card-value{
    transform: scale(0.5);
  }

  .tests #SWIFT .card.matched .card-front .card-value{
    width: 35px;
  }
  .tests #SWIFT .card-front:hover .card-value {
    transform: scale(0.5);
  }
  
  .tests #SWIFT .spider {
    align-self: flex-start;
    width: 50px;
    height: 62px;
    transition: transform 100ms ease-in-out;
    transform: translateY(-10px);
  }
  
  .tests #SWIFT .card-back:hover .spider {
    transform: translateY(0);

  }

  .tests #SWIFT .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}









/* Add the rest of the CSS rules for the remaining items in the list */
.tests #MONGOOSE {
    background-color: rgb(52, 48, 48)/* Specify the color you want */;
}

.tests #REACT {
    background-color: rgb(218, 199, 199)/* Specify the color you want */;
}

.tests #PYTHON {
    background-color: rgb(145, 199, 69), 0, 0)/* Specify the color you want */;
}

.tests #SASS {
    background-color:rgb(21, 141, 162) /* Specify the color you want */;
}

.tests #DJANGO {
    background-color:rgb(64, 64, 64) /* Specify the color you want */;
}

.tests #NODEJS {
    background-color:rgb(116, 149, 85) /* Specify the color you want */;
}

.tests #MONGODB {
    background-color:rgb(243, 247, 34) /* Specify the color you want */;
}

.tests #EXPRESS {
    background-color:rgb(160, 21, 102) /* Specify the color you want */;
}

.tests #MYSQL {
    background-color: rgb(4, 31, 49)/* Specify the color you want */;
}

.tests #JQUERY {
    background-color: rgb(180, 68, 94)/* Specify the color you want */;
}

.tests #JAVA {
    background-color:rgb(173, 120, 120) /* Specify the color you want */;
}

