*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root{
    --main-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --third-color:  rgb(49, 173, 125);
}

@font-face {
    font-family: "gloria";
    src: url('./assets/stone\ orgonite.woff');
}

section{
    /* padding: 5%; */
}

h2{
    font-size: 48px;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3 {
    font-size: 32px;
    line-height: 125%;
}

nav{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.542);
    border-radius: 2.5rem;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    transition: 0.6s;
}

nav svg{
    display: none;
}
nav .sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.766);
    z-index: 16;
    transition: 0.6s;
}

.links{
    position: absolute;
    background: white;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
}

.links a{
    color: var(--secondary-color);
    font-size: 28px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    margin-left: 4.5rem;
    font-family: "gloria", sans-serif;
}
.logo h1 a{
    color: var(--primary-color);
    position: relative;
    text-decoration: none;
}

.logo h1 a::before {
    content: '';
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
.logo h1 a:hover::before {
    transform-origin: left;
    transform: scaleX(1);

  }

.logo img {
    width: 100px;
    position: relative;
    left: 0.5rem;
}

.hamburger {
    margin-top: 0.5%;
}

.front-page{
    color: white;
    min-height: 100vh;
}

.selling-point{
    margin-top: 25vh;
    font-family: 'gloria', sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.709);
}

/* background-color: rgba(0, 0, 0, 0.1); */

.selling-point h2{
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem 0.5rem;
}

.selling-point h3{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 0px 4px 12px rgb(0, 0, 0);
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
}

button::after,
button::before {
  border-radius: 3px;
}

button:hover {
  background-color: transparent;
  font-size: 20%;
  box-shadow: none;
  color: rgb(29, 21, 0)
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid darken rgb(21, 21, 24, 20%);
  transition: opacity 0.3s, border 0.3s;
}

button:hover::before {
  opacity: 0;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 126, 103, 0.291);
  border: 1px solid rgb(255, 255, 255);
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

button:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.ctas{
    margin-top: 2rem;
}

.ctas button{
    padding: 1rem;
    font-size: 24px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.278);
    margin: 1rem;
    cursor: pointer;
}

.ctas button:hover{
    font-size: 32px;
    text-decoration: underline;
}
.cta-main{
    background-color: var(--main-color);
    color: var(--secondary-color)
}

.cta-main:hover{
    color: rgb(0, 0, 0);
}

.cta-sec{
    background-color: var(--secondary-color);
    color: white
}

.cta-sec:hover{
    color: black;
}

.hero{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero2

.hero3

.hero4

.hero5

.classes{
    color: var(--secondary-color);
    text-align: center;
    font-family: 'gloria', sans-serif;
}

.classes-description{
    margin-bottom: 15%;
}

li{
    border-bottom: solid 1px rgba(0, 0, 0, 0.357);
    padding: 9px 0.5px;
    list-style-position: inherit;
}

.solariumli {
    list-style-image: url('./img/icons/solarium.svg');
}

.massagenli{
    border-top: solid 1px rgba(0, 0, 0, 0.357);
    list-style-image: url('./img/icons/massage.svg');
}

.beautyli{
    list-style-image: url('./img/icons/beauty.svg');
}

.aboutli{
    list-style-image: url('./img/icons/team.svg');
}

.videos{
    z-index: 1;
}
.videos video{
    width: 95%;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 2.5%;
}

div .solarium, div .beauty, div .massage{
    height: 100vh;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.massage video,
.solarium video,
.beauty video{
    transform: translateY(50%);
}

body .massage{
    background-image: url('./img/wellnesbg.png') !important;
    background-size: 100vw 100vh;
}

body .solarium{
    background-image: url('./img/solariumbg.png') !important;
    background-size: 100vw 100vh;
}

body .beauty{
    background-image: url('./img/beautybg.png') !important;
    background-size: 100vw 100vh;
    
}

.hits h2{
    position: relative;
    left: 40%;
    margin: 0 0 2rem 0;
}


.videos button{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.891);
    font-family: sans-serif;
    font-size: 2rem;
    top: 85%;
    left: 30.5%;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0px 1.5px 1.5px 0 rgba(0, 0, 0, 0.569);
    transition: all 0.5s;
}



.videos h3{
    position: absolute;
    color: var(--main-color);
    font-size: 2.5rem;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.462);
    top: 10%;
    left: 50%;
    border-bottom: 3px;
    transform: translate(-50%, -10%);
    z-index: 1;
}

.videos h4{
    position: absolute;
    color: var(--main-color);
    top: 65%;
    margin: 1rem;
    padding-top: 1rem;
    text-align: start;
    justify-content: inherit ;
}

.about{
    color: var(--secondary-color);
}

.about h2{
    font-family: 'gloria', sans-serif;
}

.about p{
    line-height: 150%;
    font-size: 1.2rem;
}

.about img{
    width: 100%;
    margin-top: 2rem;
    border-radius: 1.5rem;
}

@media screen and (max-width: 767px) {
    nav svg{
        position: fixed;
        display: flex;

        left: 20px;
        top: 20px;
        min-width: 100%;
        background-color: rgba(0, 0, 0, 0.589);
        z-index: 212;
    }

    .logo{
        display: none;
    }
}

@media screen and (min-width: 768px){
    body {
        padding:5%;
    }
    .links a{
        display: flex;
        font-size: 2.5rem;
    }
    .videos{
        display: flex;
        gap: 2rem;
    }
    .videos video {
        position: relative;
        width: 85%;
        left: 0.75rem;
        top: 10%;
    }
    
    .videos button{
        display: flex;
        top: 50%;
        left: 2.75rem;
        font-size: 1.5rem;
    }
    
    .videos h3{
        font-size: 2.5rem;
    }
    .about{
        display: flex;
        gap: 5rem;
        justify-content: space-between;
    }
    .about img{
        width: 60%;
    }
    .about h2{
        text-align: start;
    }
}

@media screen and (min-width: 1024px){
    body{
        padding: 3.75%;
    }
    .videos button{
        display: flex;
        top: 50%;
        left: 5rem;
        font-size: 1.5rem;
    }
    
    .videos{
        display: flex;
        gap: 2rem;
    }
    .videos video {
        position: relative;
        width: 75%;
        left: 1.75rem;
        top: 10%;
    }
}
